[Desktop Entry]
Categories=Utility;
Comment=A simple cross-platform LLM client
Exec=elelem
Icon=elelem
Name=Elelem
StartupWMClass=elelem
Terminal=false
Type=Application
