@import "tailwindcss";
@plugin "daisyui";

/* fix pinch zoom on mobile */
:root {
  touch-action: pan-x pan-y;
  height: 100%;
}

/* fix wierd scroll in unnecessary place */
html {
  scrollbar-gutter: auto !important;
}

/* fix markdown not rendering properly */
.markdown {
  max-width: 80vw;
}
.markdown > * {
  all: revert;
}
.chat-bubble > p:first-child {
  margin-top: 0 !important;
}
.chat-bubble > p:last-child {
  margin-bottom: 0 !important;
}
