@import "tailwindcss";
@plugin "daisyui";

/* fix markdown list */
.markdown > ol,
.markdown > ul {
  padding-left: 2rem;
}

.markdown > ol {
  list-style: decimal;
}

.markdown > ul {
  list-style: circle;
}
